In [2]:
import pandas as pd
import sys
import os

# Add project root to Python path
sys.path.append(os.path.abspath(".."))

from src.preprocessing import preprocess_text

In [12]:
df = pd.read_csv("../data/raw/spam.csv", encoding="latin-1")
df = df.iloc[:, :2]   # keep only label + message
df.columns = ["label", "message"]
df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [13]:
df["cleaned_message"] = df["message"].apply(preprocess_text)
df.head()

,label,message,cleaned_message
0,ham,"Go until jurong point, crazy.. Available only ...",go jurong point crazy available bugis n great ...
1,ham,Ok lar... Joking wif u oni...,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry wkly comp win fa cup final tkts st ...
3,ham,U dun say so early hor... U c already then say...,u dun say early hor u c already say
4,ham,"Nah I don't think he goes to usf, he lives aro...",nah think go usf life around though

In [14]:
(df["cleaned_message"] == "").sum()

np.int64(8)

In [15]:
df["cleaned_message"] = df["cleaned_message"].replace("", "empty")

In [16]:
df.head()

,label,message,cleaned_message
0,ham,"Go until jurong point, crazy.. Available only ...",go jurong point crazy available bugis n great ...
1,ham,Ok lar... Joking wif u oni...,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry wkly comp win fa cup final tkts st ...
3,ham,U dun say so early hor... U c already then say...,u dun say early hor u c already say
4,ham,"Nah I don't think he goes to usf, he lives aro...",nah think go usf life around though

In [ ]:
# Save cleaned dataset
df.to_csv("../data/processed/cleaned_spam_dataset.csv", index=False)

In [20]:
# Verify saved file
os.listdir("../data/processed")

['cleaned_spam_dataset.csv', 'README.md']